@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 23px 10px;
}
.logo{
    margin: 0 20px;
}
nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 20px;
}
nav ul a{
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 500ms;
}
nav ul a:hover {
    color: rgb(181, 130, 213);
   
}
.container{
    min-height: 100vh;
    max-width: 80vw;
    margin: auto;
}
.container h1,h2{
    margin: 23px 0;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container form input[type='number'], select{
    font-size: 24px;
    margin-bottom: 23px ;
    width: 23vw;
}
.container form label{
    font-size: 24px;
    margin-bottom: 23px;
}
.btn{
    width: 144px;
    padding: 10px 4px ;
    font-size: 18px;
    background-color: antiquewhite;
    border-radius: 13px;
    cursor: pointer;
}
.output{
    display: none;
}
.output table{
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
    height: 10vh;
}

@media (max-width: 600px) {
    nav{
        flex-direction: column;
        font-size: 18px;
        width: 100vw;
    }
    .logo{
        font-size: 23px;
    }
    nav ul{
        gap: 20px;
        margin-top: 10px;
    }
    .container{
        max-width: 95vw;
    }
        .container form input[type='number'],
        select{
            width: 80vw;
        }
        .output table th{
            padding: 23px;
        }
        .btn{
            color: black;
        }
        footer{
            width: 100vw;
        }
}